<div class="row">
  <div class="col-md-6">
    <h1>Liste des todos : </h1>
    <ol class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        {{todo.name}} : {{todo.content}}
        <i class="fa fa-trash" aria-hidden="true" (click)="deleteTodo(todo)"></i>
      </li>
    </ol>
  </div>
  <div class="col-md-6">
    <label for="name">Name</label>
    <input type="text" [(ngModel)]="todo.name"  id="name" class="form-control">
    <label for="content">Content</label>
    <input type="text" [(ngModel)]="todo.content" id="content" class="form-control">
    <button class="btn btn-primary"
            (click)="addTodo()"
            [disabled]="!todo.name.trim().length || !todo.content.trim().length">
      Add
    </button>
  </div>
</div>

<app-cv></app-cv>
